[submodule "/home/jeyj0/.emacs.d"]
	path = /home/jeyj0/.emacs.d
	url = https://github.com/hlissner/doom-emacs
[submodule "home-manager"]
	path = home-manager
	url = https://github.com/nix-community/home-manager
