/*
!.gitignore
!.gitmodules
!*.md

# do not ignore configs
!.config/

# do not ignore NixOS configs
!nixos/

# do not ignore custom home-manager checkout
!home-manager/

# do not ignore my scripts
!scripts/

# do not ignore my documentation
!docs/

# do not ignore scripts in .local/
!.local/

# do not ignore xmonad config
!.xmonad/

!.emacs.d/