/*
!.gitignore
!*.md

# do not ignore configs
!.config/

# do not ignore NixOS configs
!old-nix-structure/
!modules/
!packages/
!collections/
!.dotfiles-root

# do not ignore my scripts
!scripts/

# do not ignore my documentation
!docs/

!.emacs.d/
