[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule ".vim/bundle/yaifa.vim"]
	path = .vim/bundle/yaifa.vim
	url = git@github.com:vim-scripts/yaifa.vim
[submodule ".vim/bundle/vim-monokai"]
	path = .vim/bundle/vim-monokai
	url = git@github.com:crusoexia/vim-monokai.git
[submodule "/home/jannis/.vim/bundle/nerdtree"]
	path = /home/jannis/.vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
