[Desktop Entry]
Name=Nextcloud
GenericName=File Synchronizer
Exec=/run/current-system/sw/bin/nextcloud
Terminal=false
Icon=nextcloud
Categories=Network
Type=Application
StartupNotify=false
X-GNOME-Autostart-enabled=true
