/*
!.gitignore
!mimeapps.list

# select what program's settings are synced
!rofi/
!xfce4/
!autostart/
!fish/
!doom/
!nvim/
!Thunar/
!VSCodium/User/settings.json
!configtemplates/
!nixpkgs/
!coc/
!xmonad/
!xmobar/
!pulse/
!helix/
