/*
!.gitignore
!mimeapps.list

# select what program's settings are synced
!home-manager/
!rofi/
!xfce4/
!autostart/
!fish/
!doom/
!nvim/
!git/
!i3/
!Thunar/
!polybar/
!VSCodium/User/settings.json
!configtemplates/
!compton.conf
!picom.conf
!nixpkgs/
!coc/
!xmonad/
!xmobar/
!pulse/